<section class="thanks_tab">
    <img src="/image/catalog/thank-you.png" class="img-fluid" alt="Thanks">
    <h2>Thank You for taking the Hair Test with AK Clinics</h2>
    <p>We have received your detail and our patient advisor will get in touch with you within 48-72 hrs with your Treatment Plan.</p>
    <div class="newsletter mt-5 text-center">
        <h4>Follow Us On</h4>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/AKClinics" target="_blank"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/ak-clinics/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/ak.clinics/" target="_blank"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.youtube.com/user/TheFuehairtransplant" target="_blank"><i class="bi bi-youtube"></i></a>
            </li>
        </ul>
    </div>
</section>
<script type="text/javascript">
    $("#nav-tab").remove()
</script>