<h2 class="text-white"><b>Thank You for Taking the AKClinics Hair Test</b></h2>
<p class="text-white">Our dedicated consultant will be in touch with you shortly to discuss the results and provide you with further information. If you have any immediate questions or concerns, please don't hesitate to reach out to us.
</p>
<script type="text/javascript">
    $("#nav-tab").remove()
</script>