<section class="section help_form mt-4">
    <div class="container">
        <div class="heading">
            <h3>AK Clinics are here to help you!</h3>
            <p>Please register yourself to get a Call Back.</p>
        </div>
        <form action="{{ action }}" method="POST" data-oc-toggle="ajax">
            <div class="row align-items-start gy-4">
                <div class="col-lg-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="name" id="input-name" placeholder="name*">
                        <label for="input-name">Name*</label>
                        <div class="invalid-feedback" id="error-name"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="age" id="input-age" placeholder="Age">
                        <label for="input-age">Age</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating">
                        <input type="email" class="form-control" name="call_email" id="input-call-email" placeholder="Email*">
                        <label for="input-call-email">Email*</label>
                        <div class="invalid-feedback" id="error-call-email"></div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating">
                        <input type="tel" name="phone" class="form-control" id="input-phone" placeholder="Phone*">
                        <label for="input-phone">Phone*</label>
                        <div class="invalid-feedback" id="error-phone"></div>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <button class="btn btn_light" type="submit" id="button-addon2">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>