<h4>Stay In The Loop</h4>
<form action="{{ action }}" method="POST" data-oc-toggle="ajax">
    <div class="input-group newsletter_group mt-3 mb-4">
            <input type="email" name="email" id="input-subscribe-email" class="form-control shadow-none" placeholder="Email*">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
        <div class="invalid-feedback" id="error-email"></div>
    </div>
</form>